.stack {
  --base-gap: 24px;
  --base-direction: row;
  --base-align: stretch;
  --base-justify: flex-start;

  /* Inherit from screen size above */
  --lg-gap: var(--base-gap);
  --md-gap: var(--lg-gap);
  --sm-gap: var(--md-gap);

  --lg-dir: var(--base-dir);
  --md-dir: var(--lg-dir);
  --sm-dir: var(--md-dir);

  --lg-align: var(--base-align);
  --md-align: var(--lg-align);
  --sm-align: var(--md-align);

  --lg-justify: var(--base-justify);
  --md-justify: var(--lg-justify);
  --sm-justify: var(--md-justify);
}

.stack {
  display: flex;
  flex-direction: var(--direction);
  align-items: var(--align);
  justify-content: var(--justify);
  flex-wrap: wrap;

  margin-top: calc(-1 * var(--gap));
  margin-left: calc(-1 * var(--gap));

  background: green;
}

.stack > * {
  margin-top: var(--gap);
  margin-left: var(--gap);
  flex: 1;

  background: gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (min-width: 960px) {
  .stack {
    --gap: var(--lg-gap);
    --direction: var(--lg-dir);
    --align: var(--lg-align);
    --justify: var(--lg-justify);
  }
}

@media (max-width: 960px) {
  .stack {
    --gap: var(--md-gap);
    --direction: var(--md-dir);
    --align: var(--md-align);
    --justify: var(--md-justify);
  }
}

@media (max-width: 600px) {
  .stack {
    --gap: var(--sm-gap);
    --direction: var(--sm-dir);
    --align: var(--sm-align);
    --justify: var(--sm-justify);
  }
}
